.card-counter {
    position: absolute;
    top: 10px;
    right: 20px;
    background: #1f1f1f;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #333;
    font-size: 0.9rem;
  }
  
  .card-counter span.zero {
    color: red;
  }
  